<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/main}">Новости | </a>
<a th:href="@{/authUser/main}">Моя страница | </a>
<a th:href="@{/authUser/friends}">Мои подписчики | </a>
<a th:href="@{/user/main}">Мои сообщения | </a>
<a th:href="@{/user/main}">Мои фото</a>

<p>----------------------------------------------------------------</p>

<h1 th:text="${authUser.getAccountName}">Account name</h1>
<p th:text="${authUser.getName + ' ' + authUser.getLastName}">Name LastName</p>
<p th:text="'Телефон: ' + ${authUser.getPhone()}">Phone</p>
<p th:text="'Почта: ' + ${authUser.getEmail}">Email</p>


<p>----------------------------------------------------------------</p>

<form th:action="@{/twit/new}" th:object="${twit}"  th:method="post">
    <input id="newTwit"
           name="newTwit"
           type="text"
           required
           minlength="1"
           maxlength="200"
           th:field="*{context}"
           placeholder="Новый твит"/>
    <span class="error"></span>
    <button id="button" type="submit" value="Поделиться">Поделиться</button>
</form>

<br>

<h3>Ваши твиты</h3>
<tr th:each="twit : ${userTwits}">
    <td><span th:text="${twit.getContext}"> Author </span></td>
    <br>
    <br>
</tr>


</body>
</html>