<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2 th:text="${authUser.getAccountName}">Account name</h2>
<p th:text="${authUser.getName + ' ' + authUser.getLastName}">Email</p>
<p th:text="'Телефон:' + ${authUser.getPhone()}">Phone</p>
<p th:text="'Почта: ' + ${authUser.getEmail}">Email</p>



<br>
<a th:href="@{/user/friends}">Подписчики</a>
<br>
<br>

<form th:action="@{/twit/new}" th:object="${twit}"  th:method="post">
    <input id="newTwit"
           name="newTwit"
           type="text"
           required
           minlength="1"
           maxlength="200"
           th:field="*{context}"
           placeholder="Новый твит"/>
    <span class="error"></span>
    <button id="button" type="submit" value="Поделиться">Поделиться</button>
</form>

<br>

<h3>Ваши твиты</h3>


<tr th:each="twit : ${userTwits}">
    <td><span th:text="${twit.getContext}"> Author </span></td>
    <br>
    <br>
</tr>

<br>
<br>
<br>
<br>

<tr th:each="user : ${allUsers}">
    <a th:text="${user.getName + ' ' + user.getId}"  th:href="@{/user/getById/{id}(id = ${user.getId})}">empty link</a>

</tr>






</body>
</html>