<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${authUser.getAccountName}">Account name</h1>
<a th:href="@{/user/main}">Мой аккаунт</a>

<br>
<br>
<br>
<h3>Новости</h3>

<br>

<tr th:each="twit : ${allTwits}">
    <a th:text="${twit.getUser.getAccountName}"  th:href="@{/user/getById/{id}(id=${twit.getUser.getId})}">User</a>
    <p th:text="${twit.context}">Twit context</p>
    <p th:text="${twit.getDataTime}">Date time</p>
    <br>
    <br>
</tr>


</body>
</html>