<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/registration}" th:object="${user}" class="avt" th:method="post">
    <h1 class="logInText">Регистрация</h1>
    <input id="name"
           name="name"
           type="text"
           required
           minlength="2"
           maxlength="15"
           th:field="*{name}"
           placeholder="Имя"/>
    <span class="error"></span>

    <input id="pass1"
           type="password"
           name="password"
           required
           minlength="5"
           maxlength="15"
           th:field="*{password}"
           placeholder="Пароль"/>
    <span class="error"></span>

    <input id="lastName"
           name="lastName"
           type="text"
           required
           minlength="2"
           maxlength="15"
           th:field="*{lastName}"
           placeholder="Фамилия">
    <span class="error"></span>

    <input id="phone"
           name="phone"
           type="number"
           th:field="*{phone}"
           placeholder="Номер телефона">
    <span class="error"></span>

    <input id="accountName"
           name="accountName"
           type="text"
           th:field="*{accountName}"
           placeholder="Псевдоним">
    <span class="error"></span>

    <input id="email"
           name="email"
           type="email"
           th:field="*{email}"
           required
           minlength="7"
           maxlength="30"
           placeholder="Почта">
    <span class="error"></span>

    <button id="button" type="submit" value="Вход">Регистрация</button>
</form>

</body>
</html>